:root {
  --text: #ffffff;
  --text-h: #000;
  --text-span: #ff8d28;
  --bg: #000;
  --bg-active: #433535;
  --footer: #433535;
  --sans: "Inter", sans-serif;
  --heading: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: var(--bg);
  font-family: var(--sans);
  color: #ffffff;
  overflow-x: hidden;
  margin: 0;
  margin-top: 10px;
}
body::before {
  content: "";
  position: absolute;
  top: 145vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../src/assets/img/pattern.webp);
  background-repeat: repeat;
  background-size: 100px;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}
.text-item {
  color: #fff;
  font-size: 40px;
  font-family: var(--sans);
}
hr {
  height: 3px;
  background-color: white;
}
.center-aling{
  text-align: center;
}
.part_head {
  color: #ff8d28;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 60px;
}
@media (width<760px) {
  .part_head {
    color: #ff8d28;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (max-width: 720px) {
  .text-item {
    font-size: 30px;
  }
}

#projects,
#about,
#advantages,
#poster {
  margin-left: 6% !important;
  margin-right: 6% !important;
}
/* #advantages{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
    .adv_ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .adv_li_parent{
        display: flex;
        flex-direction: column;
        flex-basis: 48%;
        justify-content: space-between;
    }
    .adv_li{
        margin-bottom: 10px;
        border-left: #FF8D28 solid 4px;
        padding-left: 10px;
        flex-basis: 50%;
                display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .adv_li_head{
        font-weight: bold;
        font-size: 20px;
    } */
